* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, hsl(216, 62%, 53%), rgb(6, 6, 106));
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  height: 70px;
  justify-content: center;
}

main {
  display: flex;
  flex-wrap: wrap;
}

aside {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  padding: 5px;
  margin: 5px;
  width: 15%;
}

input {
  width: 97.5%;
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
}

button {
  width: 100%;
  margin: 5px;
  padding: 5px;
  background-color: rgb(58, 115, 195);
  color: #fff;
  border-radius: 5px;
}

.all-weather-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 75%;
}

.today-card {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  margin: 15px;
  line-height: 50px;
}

.city-today-icon-container {
  display: flex;
  flex-wrap: wrap;
}

#weather-icon-today {
  width: 4%;
  height: 4%;
}

h2 {
  padding: 10px;
}

.forecast-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.forecast-cards {
  width: 16%;
  border-style: solid;
  background-color: rgb(5, 32, 71);
  color: #fff;
  line-height: 30px;
  padding: 10px;
}

.weather-icon {
  width: 20%;
  margin: 4%;
}

h1 .weather-icon {
  width: 5%;
}
